# ------------------------------------------------------------------------------
# secure htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>


# ------------------------------------------------------------------------------

php_value include_path "../../inc"

